.task-content{
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-around;
    .task-title{
        margin: 8px 0px;
        font-weight: bolder;
        font-size: 14px;
    }
}

.tasks-list{

    .task-item{
        border-bottom: 1px solid #ececec;
    }
}

.chip{
    >.MuiChip-label{
        color: white;
        font-weight: 600;
    }
}