.task-content{
    display: flex;
    margin: 15px;
    justify-content: space-around;
    .task-title{
        font-weight: bolder;
    }
}
.active{
    
}
.tasks-list{
    >.list-item{
        padding: 2px 5px;
    }
}